@import '~bootstrap/scss/bootstrap';

.game-space {
    padding: 0 0 10vw 0;
    color: white;
    background-color: #373737;
    font-size: 32vw;
    height: 23.5vw;
    overflow: hidden;

    &:hover {
        background-color: rgb(172, 172, 172);
        cursor: pointer;
    }
}

.dummy-game {
    height: 135px;
    padding: 0;
    color: white;
    background-color: #373737;
    font-size: 1000%;

    &:hover {
    background-color: #373737;
    cursor: default;
    }
}

.carousel-inner {
    height: 500px;
}

.delete-game-btn {
    margin-top: 20px;
}

.game-space-display {
    display: flex;
    margin: 0;
    line-height: 0;
    justify-content: center;
    align-items: center;
}

#new-game, #computer-game, #display h3 {
    font-size: 2.5vw;
}

@media (min-width: 576px) {
    .game-space {
        height: 123px;
        font-size: 169px;
        padding-bottom: 54px;
    }
}

@media (min-width: 768px) {
    .game-space {
        height: 168px;
        font-size: 235px;
        padding-bottom: 76px;
    }
}

@media (min-width: 992px) {
    .game-space {
        height: 228px;
        font-size: 332px;
        padding-bottom: 112px;
    }
}
@media (min-width: 1200px) {
    .game-space {
        height: 273px;
        font-size: 406px;
        padding-bottom: 133px;
    }
}